<link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">


<h2>Welcome back, {{theName}}</h2>
<h3>What are you looking for today?</h3>

