

  <div class="nav-bar">
    <ul>
      <li><a href="/profile/{{theUser._id}}">My profile</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>

  </div>

<div class="private-page">

  <h2>Hello, {{theUser.username}}.</h2>
  <h3>What are you looking for today?</h3>

  <button class="btn btn-outline-dark"><a href="/events"> Discover Events</a></button>
  <button class="btn btn-outline-dark"><a href="/establishments">Discover Places</a></button>
  {{!-- <button class="btn btn-secondary"><a href="/logout">Log Out</a></button> --}}

{{!-- <h2> OOOOOOOOOOOOGHGHHHHHHHHH!    {{currentUser.username}}</h2> --}}
</div>

