@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2vh;
  color: #30231c; }

.generalBackground {
  background-color: #b5a3a1; }

.tanBackground {
  background-color: #f6f1ed; }

.error-message {
  color: white;
  background-color: #8e342a;
  width: 20vw; }

.nav-bar {
  background-color: #f6f1ed; }

.nav-bar-dark {
  background-color: #b5a3a1; }

.nav-bar ul, .nav-bar-dark ul {
  display: flex;
  justify-content: flex-end;
  margin: 0; }

.nav-bar li, .nav-bar-dark li {
  display: inline;
  list-style: none;
  margin: 2vw; }

.rating-star-icon, .user-icon {
  width: 2vw; }

a, a:visited {
  color: white; }

a:hover {
  color: #30231c; }

.nav-bar a {
  color: #30231c; }

.index-page, .login-page, .signup-page {
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  background-image: url("/images/landing.jpg");
  background-size: cover;
  padding-top: 40vh; }

.index-page h1, h4 {
  justify-content: center; }

.index-content, .login-content, .signup-content {
  background-color: rgba(15, 5, 3, 0.6);
  width: 70vw;
  height: 30vh;
  margin: 0 auto;
  padding-top: 5vh;
  color: white; }

.login-content, .signup-content {
  padding-top: 2vh; }

.buttons {
  justify-content: center; }

.index-content button {
  background-color: rgba(68, 67, 67, 0.3); }

.private-page, .show-event, .edit-event, .profile-page, .new-event, .new-est, .edit-est, .est-rating, .attendees-page {
  padding: 5vh; }

.event-index {
  background-color: #f6f1ed;
  padding: 5vh; }

.events-btn, .est-btn {
  width: 50vw; }

.private-buttons a {
  font-size: 3vh; }

.private-images {
  height: 90%;
  width: 45vw; }

.hello-user {
  text-transform: uppercase;
  font-size: 5vh; }

.each-event {
  text-align: center;
  padding: 2vh;
  margin: 5vh;
  float: left;
  background-color: rgba(106, 87, 80, 0.5); }

.each-event-image {
  height: 35vh; }

.bold {
  font-weight: bolder;
  font-size: 3vh; }

.capitalize {
  text-transform: capitalize;
  font-size: 8vh; }

.capitalize-sm {
  text-transform: capitalize;
  font-size: 4vh; }

.event-image {
  margin: 2vh;
  width: 50vw; }

.fill-dark {
  background-color: rgba(61, 58, 58, 0.8); }

#red-button {
  background-color: rgba(191, 76, 76, 0.4); }

#orange-button {
  background-color: rgba(211, 142, 63, 0.6); }

label {
  color: white;
  display: flex; }

.my-things {
  color: white;
  font-size: 3vh; }

.account-message {
  color: white; }

.coolbtn {
  float: left;
  height: 60vh;
  background-color: rgba(114, 72, 49, 0.4); }

.show-est, .show-event {
  height: 100vh;
  padding: 5vh;
  margin-left: 5vw;
  text-align: center; }

.show-est-content, .show-event-content {
  background-color: rgba(45, 39, 34, 0.8);
  height: 70vh;
  width: 70vw;
  margin: 0 auto;
  padding: 5vh; }

.creamy-text {
  color: #f6f1ed; }

.rating-text {
  margin-top: 5vh; }

.rating-text > h5 > a {
  color: #ffc107; }

/*# sourceMappingURL=style.css.map */