@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
// #30231c dark colour   rgb(48, 35, 28)
// #6a5750 main colour   rgb(106, 87, 80)
// #f6f1ed light color   rgb(246, 241, 237)
// #B5A3A1 other main colour  rgb(181, 163, 161)
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2vh;
  color: rgb(48, 35, 28);
}
.generalBackground{
  background-color: rgb(181, 163, 161);
}
.tanBackground{
  background-color: rgb(246, 241, 237);
}
.error-message{
  color: white;
  background-color: rgb(142, 52, 42);
  width: 20vw;
}
.nav-bar{
  // background-color: rgba(89, 84, 78, 0.4);
  background-color: rgb(246, 241, 237);  
  // background-color: rgb(181, 163, 161)
  // background-color: rgb(48, 35, 28);

}
.nav-bar-dark{
  background-color: rgb(181, 163, 161);
}
.nav-bar ul, .nav-bar-dark ul{
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.nav-bar li, .nav-bar-dark li{
  display: inline;
  list-style: none;
  margin: 2vw;
}

.rating-star-icon, .user-icon{
  width: 2vw;
}


a, a:visited {
  color: white;
}
a:hover{
  color: rgb(48, 35, 28);
}

.nav-bar a{
  color: rgb(48, 35, 28);
}
.index-page, .login-page, .signup-page{
  margin:0;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  background-image: url('/images/landing.jpg');
  background-size: cover;
  padding-top: 40vh;
}
.index-page h1, h4{
  justify-content: center;
}
.index-content, .login-content, .signup-content{ 
  background-color: rgba(15, 5, 3, 0.6);
  width: 70vw;
  height: 30vh;
  margin:0 auto;
  padding-top: 5vh;
  color: white;
}
.login-content, .signup-content{
  padding-top: 2vh;
}

.buttons{
  justify-content: center;
}

.index-content button{
  background-color: rgba(68, 67, 67, 0.3)
}

.private-page , .show-event, .edit-event{
  // background-color: rgb(246, 241, 237);  
  background-color: rgb(181, 163, 161);
  // height: 100vh;
  background-size: cover;
  padding: 5vh;
}

.event-index{
  background-color: rgb(246, 241, 237);
  // height: 100vh;
  padding: 5vh;
}


// .private-buttons{
//   margin-top: 4vh;
//   padding: 0;
//   display: flex;
//   justify-content: space-around;
// }
.events-btn, .est-btn{
  // float: left;
  // margin-top: 4vh;  
  // height: 70vh; 
  width: 50vw;
}
.private-buttons a{
  font-size: 3vh;
}

.private-images{
  height: 90%;
  width: 45vw;
}
.hello-user{
  text-transform: uppercase;
  font-size:5vh;
}

.each-event{
  text-align: center;
  padding: 2vh;
  margin: 5vh;
  float:left;
  background-color: rgba(106, 87, 80, 0.5);
}
.each-event-image{
  height: 35vh;
}

.bold{
  font-weight: bolder; 
  font-size: 3vh;
}
.capitalize{
  text-transform: capitalize;
  font-size: 8vh;
}
.capitalize-sm {
  text-transform: capitalize;
  font-size: 4vh;
}

.event-image{
  margin: 2vh;
  width: 50vw;
}
.fill-dark{
  background-color: rgba(61, 58, 58, 0.8);
}

#red-button{
  background-color: rgba(191, 76, 76, 0.4);
}

#orange-button{
  background-color: rgba(211, 142, 63, 0.6);
}

label{
  color: white;
  display: flex;
}

.my-things{
  color: white;
  font-size: 3vh;
}

.account-message{
  color:white;
}

.coolbtn{
  float: left;
  max-height: 65vh;
  background-color: rgba(114, 72, 49, 0.4);
}